Dataset Wallis

In [1]:
import pandas as pd   # Datenanalyse und Manipulation
import numpy as np         # Numerische Berechnungen
import matplotlib as plt
import seaborn as sns
import sklearn 
from datetime import datetime, timedelta

In [8]:
FÃ¼llstand = pd.read_csv("https://www.uvek-gis.admin.ch/BFE/ogd/17/ogd17_fuellungsgrad_speicherseen.csv")
FÃ¼llstand

,Datum,Wallis_speicherinhalt_gwh,Graubuenden_speicherinhalt_gwh,Tessin_speicherinhalt_gwh,UebrigCH_speicherinhalt_gwh,TotalCH_speicherinhalt_gwh,Wallis_max_speicherinhalt_gwh,Graubuenden_max_speicherinhalt_gwh,Tessin_max_speicherinhalt_gwh,UebrigCH_max_speicherinhalt_gwh,TotalCH_max_speicherinhalt_gwh
0,2000-01-03,2037,1226,758,904,4925,3770,1905,1225,1600,8500
1,2000-01-10,1945,1175,720,868,4708,3770,1905,1225,1600,8500
2,2000-01-17,1733,1063,651,777,4224,3770,1905,1225,1600,8500
3,2000-01-24,1584,940,591,674,3789,3770,1905,1225,1600,8500
4,2000-01-31,1414,803,517,581,3315,3770,1905,1225,1600,8500
...,...,...,...,...,...,...,...,...,...,...,...
1295,2024-10-28,3514,1724,1126,1125,7489,4075,1980,1245,1600,8900
1296,2024-11-04,3400,1708,1121,1043,7272,4075,1980,1245,1600,8900
1297,2024-11-11,3231,1605,1050,990,6876,4075,1980,1245,1600,8900
1298,2024-11-18,3044,1506,977,949,6476,4075,1980,1245,1600,8900
1299,2024-11-25,2834,1427,908,935,6104,4075,1980,1245,1600,8900

In [4]:
sion2000 = pd.read_csv("Data//sion2000.csv")
sion2001 = pd.read_csv("Data//sion2001.csv")
sion2002 = pd.read_csv("Data//sion2002.csv")
sion2003 = pd.read_csv("Data//sion2003.csv")
sion2004 = pd.read_csv("Data//sion2004.csv")
sion2005 = pd.read_csv("Data//sion2005.csv")
sion2006 = pd.read_csv("Data//sion2006.csv")
sion2007 = pd.read_csv("Data//sion2007.csv")
sion2008 = pd.read_csv("Data//sion2008.csv")
sion2009 = pd.read_csv("Data//sion2009.csv")
sion2010 = pd.read_csv("Data//sion2010.csv")
sion2011 = pd.read_csv("Data//sion2011.csv")
sion2012 = pd.read_csv("Data//sion2012.csv")
sion2013 = pd.read_csv("Data//sion2013.csv")
sion2014 = pd.read_csv("Data//sion2014.csv")
sion2015 = pd.read_csv("Data//sion2015.csv")
sion2016 = pd.read_csv("Data//sion2016.csv")
sion2017 = pd.read_csv("Data//sion2017.csv")
sion2018 = pd.read_csv("Data//sion2018.csv")
sion2019 = pd.read_csv("Data//sion2019.csv")
sion2020 = pd.read_csv("Data//sion 2020 (1).csv")
sion2021 = pd.read_csv("Data//sion2021.csv")
sion2022 = pd.read_csv("Data//sion2022.csv")
sion2023 = pd.read_csv("Data//sion2023.csv")

dataframes = []
for year in range(2000, 2024):
    try:
        if year == 2020:
            # Handle the special case for 2020
            filepath = "Data//sion 2020 (1).csv"
        else:
            # General case
            filepath = f"Data//sion{year}.csv"
        
        # Read the CSV and append to the list
        dataframes.append(pd.read_csv(filepath))
    except FileNotFoundError:
        print(f"File for year {year} not found: {filepath}")

# Concatenate all the dataframes
sion = pd.concat(dataframes, ignore_index=True)

In [5]:
# Durchschnitt der ersten 6 Zeilen
averages_sion = [sion.head(6).mean(numeric_only=True)]

# Durchschnitt fÃ¼r jeweils 7 Zeilen
for i in range(6, len(sion), 7):
    chunk = sion.iloc[i:i + 7]
    averages_sion.append(chunk.mean(numeric_only=True))

# Neuer DataFrame aus den Durchschnitten
averages_df_sion = pd.DataFrame(averages_sion)

# HinzufÃ¼gen einer Datumsspalte
start_date = datetime.strptime("2000-01-03", "%Y-%m-%d")
dates = [start_date + timedelta(days=7 * i) for i in range(len(averages_df_sion))]
averages_df_sion.insert(0, "Date", dates)

averages_df_sion

,Date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2000-01-03,-2.483333,-6.100000,2.016667,0.000000,78.333333,69.000000,6.540000,NaN,1030.900000,NaN
1,2000-01-10,-1.728571,-5.257143,3.085714,0.000000,51.428571,78.000000,5.200000,NaN,1029.350000,NaN
2,2000-01-17,-2.414286,-6.457143,2.142857,0.000000,48.571429,186.000000,4.375000,NaN,1027.675000,NaN
3,2000-01-24,-3.371429,-7.185714,1.185714,0.128571,42.857143,116.000000,4.666667,NaN,1023.916667,NaN
4,2000-01-31,1.500000,-2.342857,6.171429,3.085714,28.571429,NaN,4.414286,NaN,1027.083333,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1249,2023-12-11,0.314286,-3.314286,3.057143,10.057143,71.428571,131.285714,5.957143,23.571429,1010.514286,NaN
1250,2023-12-18,1.342857,-1.385714,4.242857,7.257143,65.714286,85.000000,4.071429,19.442857,1018.514286,NaN
1251,2023-12-25,3.542857,0.100000,7.685714,4.871429,0.000000,135.000000,4.014286,18.142857,1028.342857,NaN
1252,2024-01-01,5.071429,0.842857,9.685714,0.342857,0.000000,174.714286,8.357143,34.757143,1022.514286,NaN
1253,2024-01-08,2.616667,-1.883333,8.433333,0.300000,0.000000,85.833333,4.750000,21.166667,1022.600000,NaN

In [6]:
columns_to_extract = ["Datum", "Wallis_speicherinhalt_gwh", "Wallis_max_speicherinhalt_gwh"]
fÃ¼llstand_relevant_sion = FÃ¼llstand[columns_to_extract].copy()

# Umbenennen der Spalte "Datum" in "Date" und Konvertieren zu datetime
fÃ¼llstand_relevant_sion.rename(columns={"Datum": "Date"}, inplace=True)
fÃ¼llstand_relevant_sion["Date"] = pd.to_datetime(fÃ¼llstand_relevant_sion["Date"]).dt.date

# --- Sicherstellen, dass die Date-Spalte in averages_df das gleiche Format hat ---
averages_df_sion["Date"] = pd.to_datetime(averages_df_sion["Date"]).dt.date

# --- Merge von averages_df und fÃ¼llstand_relevant ---
merged_df_sion = pd.merge(averages_df_sion, fÃ¼llstand_relevant_sion, on="Date", how="left")

# Entfernen der Spalten "wdir", "wpgt" und "tsun" aus merged_df_sion
merged_df_sion = merged_df_sion.drop(columns=['wdir', 'wpgt', 'tsun'], errors='ignore')

merged_df_sion["FÃ¼llstand_Wallis"] = (merged_df_sion["Wallis_speicherinhalt_gwh"] / merged_df_sion["Wallis_max_speicherinhalt_gwh"]) * 100


merged_df_sion

,Date,tavg,tmin,tmax,prcp,snow,wspd,pres,Wallis_speicherinhalt_gwh,Wallis_max_speicherinhalt_gwh,FÃ¼llstand_Wallis
0,2000-01-03,-2.483333,-6.100000,2.016667,0.000000,78.333333,6.540000,1030.900000,2037,3770,54.031830
1,2000-01-10,-1.728571,-5.257143,3.085714,0.000000,51.428571,5.200000,1029.350000,1945,3770,51.591512
2,2000-01-17,-2.414286,-6.457143,2.142857,0.000000,48.571429,4.375000,1027.675000,1733,3770,45.968170
3,2000-01-24,-3.371429,-7.185714,1.185714,0.128571,42.857143,4.666667,1023.916667,1584,3770,42.015915
4,2000-01-31,1.500000,-2.342857,6.171429,3.085714,28.571429,4.414286,1027.083333,1414,3770,37.506631
...,...,...,...,...,...,...,...,...,...,...,...
1249,2023-12-11,0.314286,-3.314286,3.057143,10.057143,71.428571,5.957143,1010.514286,2933,4070,72.063882
1250,2023-12-18,1.342857,-1.385714,4.242857,7.257143,65.714286,4.071429,1018.514286,2808,4070,68.992629
1251,2023-12-25,3.542857,0.100000,7.685714,4.871429,0.000000,4.014286,1028.342857,2766,4070,67.960688
1252,2024-01-01,5.071429,0.842857,9.685714,0.342857,0.000000,8.357143,1022.514286,2789,4070,68.525799
1253,2024-01-08,2.616667,-1.883333,8.433333,0.300000,0.000000,4.750000,1022.600000,2708,4070,66.535627

In [ ]:
Energy consumption wallis

In [11]:
wallisyearlyenergy = pd.read_csv("Data//tessinenergyconsumption.csv", sep=";")
wallisyearlyenergy

     Datum  Konsum(GwH)
0   2000.0        3.553
1   2001.0        3.615
2   2004.0        3.822
3   2009.0        3.079
4   2010.0        3.230
5   2011.0        3.126
6   2012.0        3.221
7   2013.0        3.263
8   2014.0        3.173
9   2015.0        3.214
10  2016.0        3.194
11  2017.0        3.220
12  2018.0        3.197
13  2019.0        3.122
14  2020.0          NaN
15  2021.0          NaN
16  2022.0          NaN
17  2023.0          NaN
18     NaN          NaN
19     NaN          NaN
20     NaN          NaN
21     NaN          NaN
22     NaN          NaN

In [13]:
# Compute the mean energy consumption from 2015 to 2019
mean_2015_2019 = wallisyearlyenergy.loc[
    wallisyearlyenergy['Datum'].between(2015, 2019), 'Konsum(GwH)'
].mean()

# Fill NaN values for 2020 to 2023 with the computed mean
wallisyearlyenergy.loc[
    wallisyearlyenergy['Datum'].between(2020, 2023), 'Konsum(GwH)'
] = mean_2015_2019

# Display the updated DataFrame
wallisyearlyenergy

     Datum  Konsum(GwH)
0   2000.0       3.5530
1   2001.0       3.6150
2   2004.0       3.8220
3   2009.0       3.0790
4   2010.0       3.2300
5   2011.0       3.1260
6   2012.0       3.2210
7   2013.0       3.2630
8   2014.0       3.1730
9   2015.0       3.2140
10  2016.0       3.1940
11  2017.0       3.2200
12  2018.0       3.1970
13  2019.0       3.1220
14  2020.0       3.1894
15  2021.0       3.1894
16  2022.0       3.1894
17  2023.0       3.1894
18     NaN          NaN
19     NaN          NaN
20     NaN          NaN
21     NaN          NaN
22     NaN          NaN

In [ ]:
wallisyearlyenergy = wallisyearlyenergy.drop(index=range(18, 23))

KeyError: '[18, 19, 20, 21, 22] not found in axis'

In [16]:
wallisyearlyenergy

     Datum  Konsum(GwH)
0   2000.0       3.5530
1   2001.0       3.6150
2   2004.0       3.8220
3   2009.0       3.0790
4   2010.0       3.2300
5   2011.0       3.1260
6   2012.0       3.2210
7   2013.0       3.2630
8   2014.0       3.1730
9   2015.0       3.2140
10  2016.0       3.1940
11  2017.0       3.2200
12  2018.0       3.1970
13  2019.0       3.1220
14  2020.0       3.1894
15  2021.0       3.1894
16  2022.0       3.1894
17  2023.0       3.1894

In [17]:
# Calculate the average of 2000 and 2001
average_2000_2001 = wallisyearlyenergy.loc[
    wallisyearlyenergy['Datum'].isin([2000, 2001]), 'Konsum(GwH)'
].mean()

# Create new rows for 2002 and 2003
new_rows = pd.DataFrame({
    'Datum': [2002, 2003],
    'Konsum(GwH)': [average_2000_2001, average_2000_2001]
})

# Concatenate the new rows before 2004
wallisyearlyenergy = pd.concat(
    [wallisyearlyenergy[wallisyearlyenergy['Datum'] < 2004],
     new_rows,
     wallisyearlyenergy[wallisyearlyenergy['Datum'] >= 2004]]
).reset_index(drop=True)

# Display the updated DataFrame
wallisyearlyenergy

     Datum  Konsum(GwH)
0   2000.0       3.5530
1   2001.0       3.6150
2   2002.0       3.5840
3   2003.0       3.5840
4   2004.0       3.8220
5   2009.0       3.0790
6   2010.0       3.2300
7   2011.0       3.1260
8   2012.0       3.2210
9   2013.0       3.2630
10  2014.0       3.1730
11  2015.0       3.2140
12  2016.0       3.1940
13  2017.0       3.2200
14  2018.0       3.1970
15  2019.0       3.1220
16  2020.0       3.1894
17  2021.0       3.1894
18  2022.0       3.1894
19  2023.0       3.1894

In [33]:
weekly_wallisenergy.head(100)

            Konsum(GwH)
Date
2000-01-01     0.073811
2000-01-08     0.073811
2000-01-15     0.073811
2000-01-22     0.073811
2000-01-29     0.031633
...                 ...
2001-08-15     0.075915
2001-08-22     0.075915
2001-08-29     0.032535
2001-09-01     0.070011
2001-09-08     0.070011

[100 rows x 1 columns]

In [68]:
 import pandas as pd
import numpy as np

# Adjusted monthly weights
monthly_weights = {
    "January": 9.27,
    "February": 8.88,
    "March": 8.49,
    "April": 7.72,
    "May": 7.34,
    "June": 7.72,
    "July": 8.10,
    "August": 8.10,
    "September": 7.72,
    "October": 8.49,
    "November": 8.88,
    "December": 9.27
}

# Normalize weights to sum to 1
normalized_weights = np.array(list(monthly_weights.values())) / sum(monthly_weights.values())

# Map months to indices (0-based for numpy)
month_map = {month: idx for idx, month in enumerate(monthly_weights.keys())}

# Simplified function to process data
def yearly_to_simple_weekly(data, weights):
    weekly_data = []

    for _, row in data.iterrows():
        year = int(row['Datum'])
        yearly_total = row['Konsum(GwH)']

        # Step 1: Calculate monthly totals using weights
        monthly_totals = yearly_total * weights

        # Step 2: Divide each month's total into 4 equal weeks
        for month_idx, monthly_total in enumerate(monthly_totals):
            weekly_total = monthly_total / 4
            for week in range(4):
                week_date = pd.Timestamp(year=year, month=month_idx + 1, day=1) + pd.Timedelta(days=week * 7)
                weekly_data.append({
                    'Date': week_date,
                    'Konsum(GwH)': weekly_total
                })

    return pd.DataFrame(weekly_data)

# Transform wallisyearlyenergy into weekly data
weights_array = normalized_weights  # Normalize weights
weekly_wallisenergy = yearly_to_simple_weekly(wallisyearlyenergy, weights_array)

# Merge with merged_df_sion
weekly_wallisenergy['Date'] = pd.to_datetime(weekly_wallisenergy['Date'])
merged_df_sion['Date'] = pd.to_datetime(merged_df_sion['Date'])

# Merge weekly data into merged_df_sion
wallisdataset = pd.merge_asof(
    merged_df_sion.sort_values('Date'),
    weekly_wallisenergy.sort_values('Date'),
    on='Date',
    direction='backward'
)

wallisdataset

,Date,tavg,tmin,tmax,prcp,snow,wspd,pres,Wallis_speicherinhalt_gwh,Wallis_max_speicherinhalt_gwh,FÃ¼llstand_Wallis,Konsum(GwH)
0,2000-01-03,-2.483333,-6.100000,2.016667,0.000000,78.333333,6.540000,1030.900000,2037,3770,54.031830,0.082357
1,2000-01-10,-1.728571,-5.257143,3.085714,0.000000,51.428571,5.200000,1029.350000,1945,3770,51.591512,0.082357
2,2000-01-17,-2.414286,-6.457143,2.142857,0.000000,48.571429,4.375000,1027.675000,1733,3770,45.968170,0.082357
3,2000-01-24,-3.371429,-7.185714,1.185714,0.128571,42.857143,4.666667,1023.916667,1584,3770,42.015915,0.082357
4,2000-01-31,1.500000,-2.342857,6.171429,3.085714,28.571429,4.414286,1027.083333,1414,3770,37.506631,0.082357
...,...,...,...,...,...,...,...,...,...,...,...,...
1249,2023-12-11,0.314286,-3.314286,3.057143,10.057143,71.428571,5.957143,1010.514286,2933,4070,72.063882,0.073929
1250,2023-12-18,1.342857,-1.385714,4.242857,7.257143,65.714286,4.071429,1018.514286,2808,4070,68.992629,0.073929
1251,2023-12-25,3.542857,0.100000,7.685714,4.871429,0.000000,4.014286,1028.342857,2766,4070,67.960688,0.073929
1252,2024-01-01,5.071429,0.842857,9.685714,0.342857,0.000000,8.357143,1022.514286,2789,4070,68.525799,0.073929
1253,2024-01-08,2.616667,-1.883333,8.433333,0.300000,0.000000,4.750000,1022.600000,2708,4070,66.535627,0.073929

Energy production in total

Based on 2023 data the average production capacity of Wallis 27.6% was and Tessin  was 9.6%

In [86]:
EnergieProduktionCH = pd.read_csv("Data//ogd51_wochenstatistik_elektrizitaetsbilanz.csv")
EnergieSpeicher = EnergieProduktionCH[["Datum", "Erzeugung_speicherwerk_GWh"]]
ErzeugungSpeicherCH = pd.DataFrame(EnergieSpeicher)

 # Calculate Wallis (27.6%) and Tessin (9.6%) production
ErzeugungSpeicherCH['Wallis_Production_GWh'] = ErzeugungSpeicherCH['Erzeugung_speicherwerk_GWh'] * 0.276
ErzeugungSpeicherCH['Tessin_Production_GWh'] = ErzeugungSpeicherCH['Erzeugung_speicherwerk_GWh'] * 0.096

# Rename the column
ErzeugungSpeicherCH.rename(columns={'Erzeugung_speicherwerk_GWh': 'Total_Switzerland_GWh'}, inplace=True)

# Display the updated dataset
ErzeugungSpeicherCH.head()


# Display the updated dataset
ErzeugungSpeicherCH

,Datum,Total_Switzerland_GWh,Wallis_Production_GWh,Tessin_Production_GWh
0,2003-01-01,19.056,5.259456,1.829376
1,2003-01-08,112.265,30.985140,10.777440
2,2003-01-15,84.014,23.187864,8.065344
3,2003-01-22,89.008,24.566208,8.544768
4,2003-01-29,76.180,21.025680,7.313280
...,...,...,...,...
1118,2024-07-03,118.461,32.695236,11.372256
1119,2024-07-10,151.183,41.726508,14.513568
1120,2024-07-17,144.209,39.801684,13.844064
1121,2024-07-24,146.123,40.329948,14.027808
1122,2024-07-31,154.231,42.567756,14.806176

Handling Tessin Data

In [4]:
# Initialize an empty list to hold dataframes
dataframes = []

# Loop through each year from 2000 to 2023
for year in range(2000, 2024):
    try:
        if year == 2020:
            # Handle the special case for 2020
            filepath = "Data//tessin 2020 (1).csv"
        else:
            # General case
            filepath = f"Data//tessin{year}.csv"
        
        # Read the CSV and append to the list
        dataframes.append(pd.read_csv(filepath))
    except FileNotFoundError:
        print(f"File for year {year} not found: {filepath}")

# Concatenate all the dataframes
tessin = pd.concat(dataframes, ignore_index=True)

# Display the concatenated dataframe
tessin

File for year 2020 not found: Data//tessin 2020 (1).csv

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2000-01-01,-2.2,-5.7,1.8,NaN,NaN,96.0,3.9,NaN,1027.5,NaN
1,2000-01-02,-1.7,-5.9,3.9,NaN,NaN,94.0,5.6,NaN,1028.7,NaN
2,2000-01-03,-1.5,-5.7,5.0,NaN,NaN,NaN,2.7,NaN,1031.3,NaN
3,2000-01-04,-1.2,-5.6,5.1,NaN,NaN,NaN,3.1,NaN,1025.5,NaN
4,2000-01-05,-0.3,-3.8,4.8,NaN,NaN,NaN,2.9,NaN,1024.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8395,2023-12-27,2.8,-2.3,8.8,0.0,NaN,92.0,2.3,9.3,1027.4,NaN
8396,2023-12-28,5.6,0.9,8.8,0.0,NaN,98.0,4.3,13.0,1028.1,NaN
8397,2023-12-29,6.2,4.4,8.5,0.0,NaN,41.0,2.0,7.4,1023.7,NaN
8398,2023-12-30,4.1,-0.5,9.4,0.0,NaN,110.0,2.1,7.4,1021.8,NaN
8399,2023-12-31,5.7,4.4,7.3,7.8,NaN,251.0,3.2,11.1,1016.0,NaN

In [6]:
# Durchschnitt der ersten 6 Zeilen
averages_tessin = [tessin.head(6).mean(numeric_only=True)]

# Durchschnitt fÃ¼r jeweils 7 Zeilen
for i in range(6, len(tessin), 7):
    chunk = tessin.iloc[i:i + 7]
    averages_tessin.append(chunk.mean(numeric_only=True))

# Neuer DataFrame aus den Durchschnitten
averages_df_tessin = pd.DataFrame(averages_tessin)

# HinzufÃ¼gen einer Datumsspalte
start_date = datetime.strptime("2000-01-03", "%Y-%m-%d")
dates = [start_date + timedelta(days=7 * i) for i in range(len(averages_df_tessin))]
averages_df_tessin.insert(0, "Date", dates)

# Display the resulting DataFrame
averages_df_tessin

,Date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2000-01-03,-1.380000,-5.340000,4.120000,NaN,NaN,95.000000,3.640000,NaN,1027.420000,NaN
1,2000-01-10,0.600000,-2.683333,4.500000,NaN,NaN,128.000000,3.200000,NaN,1029.100000,NaN
2,2000-01-17,2.900000,-1.675000,7.900000,NaN,NaN,118.666667,6.700000,NaN,1023.775000,NaN
3,2000-01-24,2.233333,-3.616667,8.266667,NaN,NaN,96.200000,8.716667,NaN,1017.900000,NaN
4,2000-01-31,2.683333,-2.650000,9.050000,NaN,NaN,102.500000,5.433333,NaN,1023.466667,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1196,2022-12-05,1.700000,-2.314286,5.685714,0.714286,NaN,84.428571,4.100000,20.642857,1018.828571,NaN
1197,2022-12-12,5.228571,1.071429,10.228571,0.600000,NaN,100.428571,4.714286,19.828571,1018.485714,NaN
1198,2022-12-19,5.257143,0.214286,13.200000,0.000000,NaN,109.285714,4.785714,28.285714,1020.757143,NaN
1199,2022-12-26,4.785714,0.614286,10.428571,0.000000,NaN,86.142857,2.628571,10.328571,1022.285714,NaN
1200,2023-01-02,5.700000,4.400000,7.300000,7.800000,NaN,251.000000,3.200000,11.100000,1016.000000,NaN

In [10]:
columns_to_extract = ["Datum", "Tessin_speicherinhalt_gwh", "Tessin_max_speicherinhalt_gwh"]
fÃ¼llstand_relevant_tessin = FÃ¼llstand[columns_to_extract].copy()

# Umbenennen der Spalte "Datum" in "Date" und Konvertieren zu datetime
fÃ¼llstand_relevant_tessin.rename(columns={"Datum": "Date"}, inplace=True)
fÃ¼llstand_relevant_tessin["Date"] = pd.to_datetime(fÃ¼llstand_relevant_tessin["Date"]).dt.date

# --- Sicherstellen, dass die Date-Spalte in averages_df das gleiche Format hat ---
averages_df_tessin["Date"] = pd.to_datetime(averages_df_tessin["Date"]).dt.date

# --- Merge von averages_df und fÃ¼llstand_relevant ---
merged_df_tessin = pd.merge(averages_df_tessin, fÃ¼llstand_relevant_tessin, on="Date", how="left")

# Entfernen der Spalten "wdir", "wpgt" und "tsun" aus merged_df_tessin
merged_df_tessin = merged_df_tessin.drop(columns=['wdir', 'wpgt', 'tsun'], errors='ignore')

# Berechnung des FÃ¼llstands fÃ¼r Tessin
merged_df_tessin["FÃ¼llstand_Tessin"] = (merged_df_tessin["Tessin_speicherinhalt_gwh"] / merged_df_tessin["Tessin_max_speicherinhalt_gwh"]) * 100

merged_df_tessin

,Date,tavg,tmin,tmax,prcp,snow,wspd,pres,Tessin_speicherinhalt_gwh,Tessin_max_speicherinhalt_gwh,FÃ¼llstand_Tessin
0,2000-01-03,-1.380000,-5.340000,4.120000,NaN,NaN,3.640000,1027.420000,758,1225,61.877551
1,2000-01-10,0.600000,-2.683333,4.500000,NaN,NaN,3.200000,1029.100000,720,1225,58.775510
2,2000-01-17,2.900000,-1.675000,7.900000,NaN,NaN,6.700000,1023.775000,651,1225,53.142857
3,2000-01-24,2.233333,-3.616667,8.266667,NaN,NaN,8.716667,1017.900000,591,1225,48.244898
4,2000-01-31,2.683333,-2.650000,9.050000,NaN,NaN,5.433333,1023.466667,517,1225,42.204082
...,...,...,...,...,...,...,...,...,...,...,...
1196,2022-12-05,1.700000,-2.314286,5.685714,0.714286,NaN,4.100000,1018.828571,823,1245,66.104418
1197,2022-12-12,5.228571,1.071429,10.228571,0.600000,NaN,4.714286,1018.485714,782,1245,62.811245
1198,2022-12-19,5.257143,0.214286,13.200000,0.000000,NaN,4.785714,1020.757143,715,1245,57.429719
1199,2022-12-26,4.785714,0.614286,10.428571,0.000000,NaN,2.628571,1022.285714,700,1245,56.224900
1200,2023-01-02,5.700000,4.400000,7.300000,7.800000,NaN,3.200000,1016.000000,704,1245,56.546185

In [13]:


# URL of the CSV file
url = "https://doi.glamos.ch/data/lengthchange/lengthchange.csv"

# Load the CSV into a pandas DataFrame, skipping the metadata rows
try:
    glacier_data = pd.read_csv(
        url,
        delimiter=';',         # Semicolon as delimiter
        skiprows=7,           # Skip the first 16 rows of metadata
        engine='python'        # Use Python engine for flexibility
    )
    
    # Display the first few rows of the DataFrame
    print(glacier_data.head())
    
    # Display the structure of the DataFrame
    print(glacier_data.info())
except Exception as e:
    print(f"An error occurred: {e}")

           Unnamed: 0 (according to Swiss Glacier Inventory)  \
0                 NaN                                    NaN
1  Silvrettagletscher                                A10g-05
2  Silvrettagletscher                                A10g-05
3  Silvrettagletscher                                A10g-05
4  Silvrettagletscher                                A10g-05

              date_start x = date not exactly known               date_end  \
0  yyyy-mm-dd (ISO 8601)                        NaN  yyyy-mm-dd (ISO 8601)
1             1956-09-01                          x             1957-09-01
2             1957-09-01                          x             1958-09-01
3             1958-09-01                          x             1959-09-01
4             1959-09-01                          x             1960-09-01

  x = date not exactly known.1      dL   h_min Unnamed: 8
0                          NaN       m  m asl.        NaN
1                            x   -8.00     NaN          -
2                            x   -9.00     NaN          -
3                            x  -16.00     NaN          -
4                            x   -3.00     NaN          -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10687 entries, 0 to 10686
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Unnamed: 0                              10686 non-null  object
 1   (according to Swiss Glacier Inventory)  10686 non-null  object
 2   date_start                              10687 non-null  object
 3   x = date not exactly known              8422 non-null   object
 4   date_end                                10687 non-null  object
 5   x = date not exactly known.1            8364 non-null   object
 6   dL                                      10686 non-null  object
 7   h_min                                   1669 non-null   object
 8   Unnamed: 8                              10686 non-null  object
dtypes: object(9)
memory usage: 751.6+ KB
None

In [23]:

glacier_data = glacier_data.iloc[1:].reset_index(drop=True)
columns_to_drop = ["x = date not exactly known", "x = date not exactly known.1"]
glacier_data.drop(columns=columns_to_drop)

,Unnamed: 0,(according to Swiss Glacier Inventory),date_start,date_end,dL,h_min,Unnamed: 8
0,Silvrettagletscher,A10g-05,1962-09-01,1963-09-01,-13.00,NaN,-
1,Silvrettagletscher,A10g-05,1963-09-01,1964-09-01,-7.00,NaN,-
2,Silvrettagletscher,A10g-05,1964-09-01,1966-09-01,6.00,NaN,-
3,Silvrettagletscher,A10g-05,1966-09-01,1967-09-01,-9.00,NaN,-
4,Silvrettagletscher,A10g-05,1967-09-01,1968-09-01,0.00,NaN,-
...,...,...,...,...,...,...,...
10675,Vadret Tiatscha,E50-07,2015-08-07,2016-09-07,-21.70,2671.50,"VAW/ETHZ, Andreas Bauder"
10676,Vadret Tiatscha,E50-07,2016-09-07,2019-09-29,-21.60,NaN,"VAW/ETHZ, Bauder"
10677,Vadret Tiatscha,E50-07,2019-09-29,2020-09-13,-3.60,NaN,"VAW/ETHZ, Bauder"
10678,Vadret Tiatscha,E50-07,2020-09-13,2021-09-01,-4.30,NaN,"VAW/ETHZ, Bauder"
10679,Vadret Tiatscha,E50-07,2021-09-01,2022-09-12,-24.70,NaN,"VAW/ETHZ, Bauder"

In [34]:
# Filter the DataFrame for rows where the value in the "Unnamed: 0" column is "Aletschgletscher"
filtered_data = glacier_data[glacier_data["Unnamed: 0"] == "Grosser Aletschgletscher"]

# Display the filtered rows
filtered_data

,Unnamed: 0,(according to Swiss Glacier Inventory),date_start,x = date not exactly known,date_end,x = date not exactly known.1,dL,h_min,Unnamed: 8
5177,Grosser Aletschgletscher,B36-26,1870-09-01,x,1881-09-01,x,-75.00,NaN,-
5178,Grosser Aletschgletscher,B36-26,1886-09-01,x,1887-09-01,x,-100.00,NaN,-
5179,Grosser Aletschgletscher,B36-26,1892-09-01,x,1893-09-01,x,-5.00,NaN,-
5180,Grosser Aletschgletscher,B36-26,1893-09-01,x,1894-09-01,x,-7.00,NaN,-
5181,Grosser Aletschgletscher,B36-26,1894-09-01,x,1895-09-01,x,-6.00,NaN,-
...,...,...,...,...,...,...,...,...,...
5304,Grosser Aletschgletscher,B36-26,2018-09-27,NaN,2019-09-04,NaN,-80.30,NaN,"VAW/ETHZ, Bauder"
5305,Grosser Aletschgletscher,B36-26,2019-09-04,NaN,2020-09-14,NaN,-51.60,NaN,"VAW/ETHZ, Bauder"
5306,Grosser Aletschgletscher,B36-26,2020-09-14,NaN,2022-07-13,NaN,-30.30,NaN,"VAW/ETHZ, Bauder"
5307,Grosser Aletschgletscher,B36-26,2020-09-14,NaN,2021-07-29,NaN,-51.60,NaN,"VAW/ETHZ, Bauder"
5308,Grosser Aletschgletscher,B36-26,2021-07-29,NaN,2022-07-13,NaN,-17.10,NaN,"VAW/ETHZ, Bauder"

In [45]:
import pandas as pd

# Load the CSV file while skipping the unnecessary rows
EnergieUebersichtCH = pd.read_csv(
    "Data//Kopie von EnergieUebersichtCH-2024.csv", 
    skiprows=[2],  # Adjust this to skip the extra header rows (change to 2 or more as needed)
    encoding="ISO-8859-1",  # Encoding used in the file
    delimiter=';',  # If comma-separated, otherwise adjust as needed
    thousands='.',  # Handle thousands separator if present
    decimal=','  # Handle decimal separator
)


# Optional: Display column names to check if headers are loaded correctly
EnergieUebersichtCH = pd.DataFrame(EnergieUebersichtCH)
EnergieUebersichtCH

/var/folders/kz/cdns3q5j33910y0dt9d7416m0000gn/T/ipykernel_39518/745696289.py:4: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  EnergieUebersichtCH = pd.read_csv(

,Unnamed: 0,Summe endverbrauchte Energie Regelblock Schweiz\nTotal energy consumed by end users in the Swiss controlblock,Summe produzierte Energie Regelblock Schweiz\nTotal energy production Swiss controlblock,Summe verbrauchte Energie Regelblock Schweiz\nTotal energy consumption Swiss controlblock,Netto Ausspeisung aus dem Â†bertragungsnetz Schweiz\nNet outflow of the Swiss transmission grid,Vertikale Einspeisung ins Â†bertragungsnetz Schweiz\nGrid feed-in Swiss transmission grid,Positive SekundÂŠr-Regelenergie\nPositive secundary control energy,Negative SekundÂŠr-Regelenergie\nNegative secundary control energy,Positive TertiÂŠr-Regelenergie\nPositive tertiary control energy,Negative TertiÂŠr-Regelenergie\nNegative tertiary control energy,...,"Produktion Kantone OW, NW, UR\nProduction Cantons OW, NW, UR","Verbrauch Kantone OW, NW, UR\nConsumption Cantons OW, NW, UR","Produktion Kantone GE, VD\nProduction Cantons GE, VD","Verbrauch Kantone GE, VD\nConsumption Cantons GE, VD","Produktion Kantone SH, ZH\nProduction Cantons SH, ZH","Verbrauch Kantone SH, ZH\nConsumption Cantons SH, ZH",Produktion KantonsÂŸbergreifend\nProduction across Cantons,Verbrauch KantonsÂŸbergreifend\nConsumption across Cantons,Produktion Regelzone CH - AuslÂŠndische Gebiete\nProduction control area CH - foreign territories,Verbrauch Regelzone CH - AuslÂŠndische Gebiete\nConsumption control area CH - foreign territories
0,Zeitstempel,kWh,kWh,kWh,kWh,kWh,kWh,kWh,kWh,kWh,...,kWh,kWh,kWh,kWh,kWh,kWh,kWh,kWh,kWh,kWh
1,01.01.2024 00:30,"1442365,749","1294126,969","1921877,642","592319,1285","848182,105",0,0,0,0,...,"10760,79","27521,791","41058,415","224283,806","22550,21","252227,424","120907,426","33431,67345","2418,287","11990,99"
2,01.01.2024 00:45,"1432568,281","1289417,659","1914424,912","590134,9796","849752,292",0,0,0,0,...,"11102,976","27440,977","40457,555","222318,856","22291,411","248822,329","120503,211","32682,26636","2948,361","11757,277"
3,01.01.2024 01:00,"1420472,129","1284384,421","1917196,438","594518,1893","850455,833",0,0,0,0,...,"14573,546","26529,546","39970,835","219582,402","22366,316","247489,263","121617,803","36437,50571","3329,06","11553,676"
4,01.01.2024 01:15,"1445855,774","1291409,092","1970521,681","642303,571","838562,397",3550,-193,35000,0,...,"15080,385","27471,388","40153,339","234451,05","23566,42","245579,158","132227,077","33732,20105","3190,238","11922,976"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29275,31.10.2024 23:00,1388160.988,1723095.681,1565426.125,0.0,1269156.511,21,-8548,0,-15000,...,11936.88,24056.88,74658.375,192131.109,23332.958,261012.912,91079.403,35915.44125,2033.607,13999.609
29276,31.10.2024 23:15,1386913.468,1641235.075,1617649.904,0.0,1186840.569,2322,-565,0,-15250,...,13122.865,24021.866,48927.0,187707.301,23434.275,252968.49,88764.705,38280.7951,1944.326,14125.478
29277,31.10.2024 23:30,1362254.737,1602890.814,1591627.418,0.0,1156447.823,1408,-1986,0,-15250,...,12776.383,22855.384,45046.563,182195.881,23587.62,242150.181,88082.693,40524.55126,1945.91,13995.249
29278,31.10.2024 23:45,1336066.978,1592542.282,1562115.889,0.0,1150315.696,1007,-1852,0,-15250,...,12573.916,22660.916,44587.825,177684.747,23670.152,233208.951,87624.927,39653.69681,1907.27,13423.796
29279,01.11.2024 00:00,1296459.629,1591357.764,1595858.076,0.0,1166210.128,9,-8025,0,-15250,...,12952.875,21797.875,43613.061,172767.874,23525.097,231744.028,87348.471,39707.09466,1924.082,13359.088